<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.internet.speed.test.analyzer.wifi.key.generator.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/wifimastericon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wifimastericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.ActivityPrivacyPolicy"
            android:theme="@style/AppTheme.NotActionBar">

        </activity>
        <activity
            android:name=".activities.ActivityLanguage"
            android:theme="@style/AppTheme.NotActionBar" />
        <activity
            android:name=".activities.ActivitySplash"
            android:theme="@style/AppTheme.NotActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityIntroSLides"
            android:theme="@style/AppTheme.NotActionBar" />


        <activity
            android:name=".wifiAvailable.AvailableWifiActivity"
            android:theme="@style/AppTheme.NotActionBar" />
        <activity android:name=".activities.ActivityAppUsage" />
        <activity android:name=".activities.ActivityWifiInformation" />
        <activity android:name=".activities.ActivityLiveLocation" />
        <activity android:name=".activities.BluetoothConnectivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NotActionBar" />
        <activity android:name=".activities.PasswordGeneratorActivity"
            android:theme="@style/AppTheme.NotActionBar"

            />
        <activity android:name=".activities.SignalGraphActivity" />
        <activity android:name=".activities.DetailActivity" />
        <activity android:name=".appsNetBlocker.NetBlockerMainActivity" />
        <activity
            android:name=".allRouterPassword.AllRouterPasswords"
            android:theme="@style/AppTheme.NotActionBar" />

        <service
            android:name=".appsNetBlocker.AppsNetBlockerService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <!-- Older Work -->
        <service
            android:name=".autoConnectWifi.ConnectToWifi_Service"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".autoConnectWifi.AutoConnectWifi"
            android:theme="@style/AppTheme2" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".ListDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Speedtest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".WifiScanActivity"
            android:theme="@style/AppTheme2" />


    </application>

</manifest>